name: Publish Helm chart to GHCR

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write   # needed to push to GHCR

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup base software
        uses: ./.github/actions/setup

      - name: Fetch chart dependencies
        run: helm dependency update ./

      - name: Package Helm chart
        run: helm package . --destination ./

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push chart package to GHCR
        run: |
          CHART_FILE=$(ls *.tgz | head -n1)
          helm push "$CHART_FILE" oci://ghcr.io/${{ github.repository_owner }}/charts
